.card {
  margin: 2rem 0;
}

.npcs-index-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#show-profile{
  height: 40%;
  width: 40%;
  display: flex;
  justify-content: space-around;
}

#npc-name{
  text-align: center;
}