/* HEADER */

.header-tab {
  display: flex;
  justify-content: center;
}



/* CARD */

.card {
  margin: 2rem 1rem;
}

.npc-name {
  font-family: stardew;
  font-size: 30px;
}

.npcs-index-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#show-profile{
  height: 40%;
  width: 40%;
  display: flex;
  justify-content: space-around;
}

#npc-name{
  text-align: center;
}
/* FONTS */

@font-face {
  font-family: "stardewCAPS";   /*Can be any text*/
  src: local("StardewValley"),
    url("./fonts/StardewValleyALLCAPS.ttf") format("truetype");
}

@font-face {
  font-family: "stardew";   /*Can be any text*/
  src: local("StardewValley"),
    url("./fonts/StardewValley.ttf") format("truetype");
}

@font-face {
  font-family: "stardewRegular";   /*Can be any text*/
  src: local("StardewValley"),
    url("./fonts/StardewValleyRegular.ttf") format("truetype");
}

p {
  font-family: "stardew";
  font-size: 20px;
}

/* BACKGROUND IMG */


.background-img {
  text-align: center;
  background-image: url("https://stardewvalleywiki.com/mediawiki/extensions/StardewValley/images/stardewbackground.png");
  // height:'100vh';
  // margin: auto 0;
  background-size: cover;
  width: 100%;
  height: auto;
  // object-fit: cover;

  background-repeat: no-repeat;
};

/* FOOTER */

.footer {
  padding-top: 318px;
}

/* NEW FORM */

.form-background-box {
 background-color: rgb(234, 238, 239);
 margin: 110px;
 padding-bottom: 40px;
 padding-top: 30px;
 opacity: 0.9;
 border-radius: 5%;
//  max-width: 40%;
//  display: flex;
//  justify-content: center;
}

.form-input {
  width: 70%;
  padding: 1%;
  display: block;
  position: relative;
  margin: 0 auto;
  opacity: 1;
}

.form-label {
  color: black;
  opacity: 1 !important;  
}

.button {
  
}

// .button-text {
//  background-color: blue
// }

/* HOME */

.home-welcome {
  font-family: stardew;
  font-size: 3rem;
  color: black;
  padding-top: 30px;
}

#home-subtext {
  font-size: 2rem;
  padding-top: 10px;
  color: black;
}

/* AUDIO PLAYER */

#audio-player {
  padding-top: 4rem;
}


